{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}
{% block body %}

<div class="container mt-5">
    <form class="row" method="post">
        <div class="col-md-6 offset-md-3 my-5">
            <div class="form-group offset-md-4 my-4">
                <p>
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text%}

                    {% endif %}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                <br>
                <button type="submit">Cadastar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}