{% extends 'base.html' %}
{% block body %}

<section class="pt-2" style="background-color: #E0E0F8; margin-top: 40px;">
    <div class="container-fluid" >
        <div class="row">
            <div class="col">
                {% load staticfiles %}
                <img class="d-block" src="{% static 'imagens/julius.png' %}"  width="450" height="400">
            </div>
            <div class="col align-self-center">
                <h1>Está procurando por descontos?</h1>
                <h1>Então veio ao lugar certo!</h1>
                <h1>Bem-vindo ao Julius Descontos</h1>
            </div>
        </div>
    </div>
</section> 

<div class="container">
    <div class="col s24 m8 mb-s-5 mb-m-0 scroll-animate">
        <a href="#">Quem Somos</a>
    </div>
</div>

{% endblock %}
