{% extends 'base.html' %}
{% block title %}Recuperar senha{% endblock %}
{% block body %}
<div class="container mt-5">
    <form class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Nome Completo</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome completo">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Endereço de email</label>
                <input type="email" class="form-control" id="E-mail" placeholder="email@exemplo.com">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Senha</label>
                <input type="password" class="form-control" id="Senha" placeholder="Senha">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Palavra secreta</label>
                <input type="password" class="form-control" id="recSenha" placeholder="Palavra secreta para recuperar senha">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">cadastrar</button>
            </div>
    </form>
</div>
{% endblock %}